<div class="col-lg-12 p-0">
    <nav class="navbar navbar-expand-lg navbar-light bg-navigation fixed-top|fixed-bottom|sticky-top">
        <a class="navbar-brand" href="#">{{title}}</a>
        <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0" *ngIf="identity">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/dashboard']" [routerLinkActive]="['active']">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Timeline</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#">People</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto mt-2 mt-lg-0 bg-navigation" *ngIf="identity">
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											{{identity.nick}}
										</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> My Profile</a>
                        <a class="dropdown-item pointer" href="#" (click)="logout($event)"><i class="fa fa-power-off"></i> Logout</a>
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto mt-2 mt-lg-0" *ngIf="!identity">
                <li class="nav-item dropdown">
                    <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']">Login</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" [routerLink]="['/register']" [routerLinkActive]="['active']">Sign Up</a>
                </li>
            </ul>

        </div>
    </nav>
</div>

<router-outlet></router-outlet>